<ion-header>
  <ion-toolbar>
    <ion-title>
      PICU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="https://images.pexels.com/photos/3568521/pexels-photo-3568521.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></ion-img>
    <ion-card-header>
      <ion-card-title>About PICU</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Slides</ion-card-title>
    </ion-card-header>
    <ion-slides paper="true">
      <ion-slide>
        <h1>Slide 1</h1>
        <ion-img src="https://images.pexels.com/photos/3568521/pexels-photo-3568521.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></ion-img>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
        <ion-img src="https://images.pexels.com/photos/3568521/pexels-photo-3568521.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></ion-img>
      </ion-slide>
    </ion-slides>
  </ion-card>


</ion-content>
