<ion-tabs>
  <ion-tab-bar class="mainNavBar">
    <ion-tab-button tab="picu">
      <ion-icon class= "footTabIcon" src="../assets/PICU_Icon.svg"></ion-icon>
      <ion-label>PICU</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="yourchild">
      <ion-icon src="../assets/Your_Child_Icon.svg"></ion-icon>
      <ion-label>YOUR CHILD</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="team">
      <ion-icon src="../assets/Team_Icon.svg"></ion-icon>
      <ion-label>TEAM</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="visit">
      <ion-icon src="../assets/Visit_Icon.svg"></ion-icon>
      <ion-label>VISIT</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

