<ion-header>
  <ion-toolbar text-center>
    <ion-buttons slot="start">
      <ion-button 
        (click)="MyAction()" href="/tabs/picu">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="header-title">DETAILS</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/tabs/home">
          <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card 
    *ngFor="let content of contents">
    <ion-slides pager="true">
      <ng-container *ngIf="content.image1">
        <ion-slide>
          <img src="{{ content.image1 }}" />
        </ion-slide>
      </ng-container>
      <ng-container *ngIf="content.image2">
        <ion-slide>
          <img src="{{ content.image2 }}" />
        </ion-slide>
      </ng-container>
      <ng-container *ngIf="content.image3">
        <ion-slide>
          <img src="{{ content.image3 }}" />
        </ion-slide>
      </ng-container>
    </ion-slides>
    <ion-card-content> {{ content.text }} </ion-card-content>
  </ion-card>
</ion-content>
