<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>team-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../assets/Team_Pic.jpg" />
    <ion-card-header>
      <ion-card-title>Medical Team</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      There are a team of doctors (consultants and registrars) who work on the unit. These doctors come from different specialities and have a variety of experience including paediatrics, neonates, surgery, anaesthetics, emergency medicine and intensive care. There are two consultants on the unit from Monday to Friday between 9am and 5pm. Between these hours, one of them is available to speak to parents and families, but at other times, the consultant on duty will discuss acute issues only.
    </ion-card-content>
  </ion-card>
</ion-content>
