<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  </head>
  <body>
    <div class="middle">
      <div class="menu">
        <p class="title">HOME</p>

        <li class="item" id='PICU'></li>
          <a href="/picu" class="btn">PICU</a>
        </li>

        <li class="item" id="YOUR_CHILD">
          <a href="/yourchild" class="btn">YOUR CHILD</a>
        </li>

        <li class="item" id="TEAM">
          <a href="/team" class="btn">TEAM</a>
        </li>

        <li class="item" id="VISIT">
            <a href="/visit" class="btn">VISIT</a>
        </li>

        <li class="item">
          <a class="btn" href="#">Manage accounts</a>
        </li>

        <li class="item">
          <a class="btn" href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
    </div>