<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  </head>
  <body>
    <div class="middle">
      <div class="menu">
        <p class="title">HOME</p>

        <li class="item" id='PICU'>
          <a href="#PICU" class="btn">PICU</a>
          <div class="smenu">

          <% for (var nav of picuNav) {%>
            <a href="#"><%=nav.Nav_name%></a>
          <%}%>

            <a href="#">CONSENT</a>
            <a href="#">DAILY ROUTINE</a>
            <a href="#">WARD PHILOSOPHY</a>
          </div>
        </li>

        <li class="item" id="YOUR_CHILD">
          <a href="#YOUR_CHILD" class="btn">YOUR CHILD</a>
          <div class="smenu">
            <a href="#">COMMON CLINICAL CONDITIONS</a>
            <a href="#">PICU EQUIPMENT</a>
          </div>
        </li>

        <li class="item" id="TEAM">
          <a href="#TEAM" class="btn">TEAM</a>
          <div class="smenu">
            <a href="#">MEDICAL TEAM</a>
            <a href="#">NURSING TEAM</a>
            <a href="#">HEALTH CARE ASSISTANTS</a>
            <a href="#">PHYSIOTHERAPISTS</a>
            <a href="#">DIETICIANS</a>
            <a href="#">PHARMACISTS</a>
          </div>
        </li>

        <li class="item" id="VISIT">
            <a href="#VISIT" class="btn">VISIT</a>
            <div class="smenu">
              <a href="#">VISITING HOURS</a>
              <a href="#">LOCATION</a>
              <a href="#">SECURITY</a>
              <a href="#">PHONE POLICY</a>
              <a href="#">ACCOMMODATION</a>
              <a href="#">GENERAL HOSPITAL INFORMATION</a>
              <a href="#">HOSPITAL MAP</a>
            </div>
          </li>

        <li class="item">
          <a class="btn" href="#"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
    </div>