<ion-header>
  <ion-toolbar>
    <ion-title>
      Home (Button Version)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-button class="homePageButton" color="primary" expand="block" strong="true">PICU</ion-button>
  </section>
  <section>
    <ion-button class="homePageButton" color="primary" expand="block" strong="true">Your Child</ion-button>
  </section>
  <section>
    <ion-button class="homePageButton" color="primary" expand="block" strong="true">Team</ion-button>
  </section>
  <section>
    <ion-button class="homePageButton" color="primary" expand="block" strong="true">Visit</ion-button>
  </section>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" href="https://www.google.com">Donation</ion-fab-button>
  </ion-fab>
</ion-content>
