.homePageButton {
    --vertical-align: middle;
    --position:relative;
    --margin-top: 50px;
  }

section {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }

.buttonWithImage {
    --position:relative;
}