<ion-header>
  <ion-toolbar>
    <ion-title>
      Try Out
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="homeCard">
  <ion-card href="https://www.google.com">
    <ion-img src="https://images.pexels.com/photos/3568521/pexels-photo-3568521.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></ion-img>
    <ion-card-header>
      <ion-card-title>PICU</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card href="https://www.google.com">
    <ion-img src="https://images.pexels.com/photos/3568521/pexels-photo-3568521.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></ion-img>
    <ion-card-header>
      <ion-card-title>Your Child</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>
<div class="homeCard">
  <ion-card href="https://www.google.com">
    <ion-img src="https://images.pexels.com/photos/3568521/pexels-photo-3568521.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></ion-img>
    <ion-card-header>
      <ion-card-title>Team</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card href="https://www.google.com">
    <ion-img src="https://images.pexels.com/photos/3568521/pexels-photo-3568521.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"></ion-img>
    <ion-card-header>
      <ion-card-title>Visit</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="secondary111" href="https://www.google.com">Donation</ion-fab-button>
</ion-fab>


</ion-content>
