<ion-header>
  <ion-toolbar text-center>
    <ion-buttons slot="start">
      <ion-button (click)="MyAction()" href="/tabs/qa">
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="header-title">MENU</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/tabs/home">
          <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <section>
    <img class="logo" src="../assets/photos/logo.png" />
  </section>

  <ion-card 
    *ngFor="let content of contents">
    <ion-slides pager="true">
      <ng-container *ngIf="content.Image1_path">
        <ion-slide>
          <img src="{{ content.Image1_path }}" />
        </ion-slide>
      </ng-container>
      <ng-container *ngIf="content.Image2_path">
        <ion-slide>
          <img src="{{ content.Image2_path }}" />
        </ion-slide>
      </ng-container>
      <ng-container *ngIf="content.Image3_path">
        <ion-slide>
          <img src="{{ content.Image3_path }}" />
        </ion-slide>
      </ng-container>
    </ion-slides>
    <ion-card-content>
      <pre [innerHTML]="content.Text" wrap></pre>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card-nav"
          *ngFor="let page of pages"
          (click)="setNavigationLink(page)">
          <ion-item>
            <ion-card-title class="sub-card-nav-title">{{ page.Nav_name }}</ion-card-title>
            <ion-icon name="chevron-forward-outline" slot='end'></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
