<ion-header class="header">
  <ion-toolbar>
    <ion-title style='text-align:center'>PICU PARENT APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" fullscreen>
  <section>
    <img src="../assets/photos/picu5.jpg" />
  </section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card1" href="/tabs/picu" color="primary">
          <ion-item>
            <ion-icon slot="" name="star"></ion-icon>
            <ion-card-title class="title1">PICU</ion-card-title>
          </ion-item> 
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card1" href="/tabs/yourchild" color="primary">
          <ion-item>
            <ion-icon slot="" name="star"></ion-icon>
            <ion-card-title class="title1">YOUR CHILD</ion-card-title>
          </ion-item> 
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card1" href="/tabs/team" color="primary">
          <ion-item>
            <ion-icon slot="" name="star"></ion-icon>
            <ion-card-title class="title1">TEAM</ion-card-title>
          </ion-item> 
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card1" href="/tabs/visit" color="primary">
          <ion-item>
            <ion-icon slot="" name="star"></ion-icon>
            <ion-card-title class="title1">VISIT</ion-card-title>
          </ion-item> 
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card1" href="" color="primary">
          <ion-item>
            <ion-icon slot="" name="star"></ion-icon>
            <ion-card-title class="title1">SUPPORT US</ion-card-title>
          </ion-item> 
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card1" href="/faq" color="primary">
          <ion-item>
            <ion-icon slot="" name="star"></ion-icon>
            <ion-card-title class="title1">FAQ&FEEDBACK</ion-card-title>
          </ion-item> 
        </ion-card>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
