<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">WELCOME!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <section>
    <img class="logo" src="../assets/photos/logo.png" />
  </section>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card-nav"
          *ngFor="let page of pages"
          (click)="setNavigationLink(page)">
          <ion-item>
            <ion-icon src='{{ page.icon }}'></ion-icon>
            <ion-card-title class="card-nav-title">{{ page.title }}</ion-card-title>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>