<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="MyAction()" href="/tabs/home">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style='text-align:center'>VISIT</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/tabs/home">
          <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
