<%- include('partials/header.ejs'); %>
    <div class="main_content">
        <div class="header">
            <h2>
                Welcome!
            </h2>
        </div>  
        <div class="info">
            <div text-align="center">Welcome to the <b>PICU Parent App</b> Content Management System!</div>
            <div>
                <p>In the content review pages you are presented with the images and content of the chosen page. <b>Please note:</b></p><br>
                <p>1. If the image space (top of the card) is empty, it means no images are stored and therefore no images are displayed for the page in the mobile app.</p>
                <p>2. The page contents will be displayed to you here as html code (not as plain text displayed in the mobile app). This is how the text is stored. Please press the "Edit" button if you wish to see and edit the text without the html notation.</p><br>
                <p>You can review, edit and add frequently asked questions under the FAQ tab. In addition, you can see and delete the feedback messages submitted by mobile app users.</p>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>
