<%- include('partials/header.ejs'); %>
    <div class="main_content">
        <div class="header">
            <h2>
                Welcome!
            </h2>
        </div>  
        <div class="info">
            <div>[ Text explaining how to use the content management system ]</div>
        </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>
